<h1> My Movies To Watch</h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Added Date</th>
                <th>is Watched?</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let watch of towatch">
                <td>{{watch.movieName}}</td>
                <td>{{watch.addedDate | date}}</td>
                <td>{{watch.watched}}</td>
                <td><button (click)="deleteTowatch(watch.id)" class="btn btn-warning">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>